In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df_17 = pd.read_csv("FIFA17_official_data.csv")
df_18 = pd.read_csv("FIFA18_official_data.csv")
df_19 = pd.read_csv("FIFA19_official_data.csv")
df_20 = pd.read_csv("FIFA20_official_data.csv")
df_21 = pd.read_csv("FIFA21_official_data.csv")
df_22 = pd.read_csv("FIFA22_official_data.csv")
df_23 = pd.read_csv("FIFA23_official_data.csv")

In [6]:
df_17.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating
0,176580,L. Suárez,29,https://cdn.sofifa.com/players/176/580/17_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,92,92,FC Barcelona,https://cdn.sofifa.com/teams/241/light_30.png,...,30.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,ST,88.0
1,178518,R. Nainggolan,28,https://cdn.sofifa.com/players/178/518/17_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,86,86,Roma,https://cdn.sofifa.com/teams/52/light_30.png,...,78.0,85.0,88.0,11.0,11.0,14.0,8.0,11.0,CDM,84.0
2,181872,A. Vidal,29,https://cdn.sofifa.com/players/181/872/17_60.png,Chile,https://cdn.sofifa.com/flags/cl.png,87,87,FC Bayern München,https://cdn.sofifa.com/teams/21/light_30.png,...,76.0,89.0,84.0,4.0,2.0,4.0,2.0,4.0,CDM,85.0
3,197445,D. Alaba,24,https://cdn.sofifa.com/players/197/445/17_60.png,Austria,https://cdn.sofifa.com/flags/at.png,86,89,FC Bayern München,https://cdn.sofifa.com/teams/21/light_30.png,...,81.0,83.0,83.0,5.0,7.0,14.0,15.0,9.0,LB,84.0
4,195864,P. Pogba,23,https://cdn.sofifa.com/players/195/864/17_60.png,France,https://cdn.sofifa.com/flags/fr.png,88,94,Manchester United,https://cdn.sofifa.com/teams/11/light_30.png,...,68.0,73.0,73.0,5.0,6.0,2.0,4.0,3.0,CAM,85.0

In [7]:
print(df_17.shape)
print(df_18.shape)
print(df_19.shape)
print(df_20.shape)
print(df_21.shape)
print(df_22.shape)
print(df_23.shape)

(17560, 63)
(17927, 64)
(17943, 64)
(17104, 65)
(17108, 65)
(16710, 65)
(17660, 29)

In [8]:
df_17.isnull().sum().sort_values(ascending=False)[:10]

Loaned From             16227
Joined                   1695
Contract Valid Until      362
Club                      243
Position                   19
Jersey Number              19
Jumping                     0
Stamina                     0
ID                          0
LongShots                   0
dtype: int64

In [9]:
df_18.isnull().sum().sort_values(ascending=False)[:10]

Loaned From             16445
Joined                   1864
Release Clause           1748
Contract Valid Until      382
Club                      252
Position                   19
Jersey Number              19
Stamina                     0
Strength                    0
Jumping                     0
dtype: int64

In [10]:
df_19.isnull().sum().sort_values(ascending=False)[:10]

Loaned From             16355
Joined                   1956
Release Clause           1841
Contract Valid Until      368
Club                      238
Position                   14
Jersey Number              14
Stamina                     0
Strength                    0
Jumping                     0
dtype: int64

In [11]:
df_20.isnull().sum().sort_values(ascending=False)[:10]

Loaned From             15718
Marking                 15418
Release Clause           2317
Joined                   1985
DefensiveAwareness       1686
Contract Valid Until      577
Composure                 420
Club                      388
Balance                    39
Curve                      39
dtype: int64

In [12]:
df_21.isnull().sum().sort_values(ascending=False)[:10]

Loaned From             16186
Marking                 16166
Release Clause           1629
Joined                   1449
DefensiveAwareness        942
Contract Valid Until      496
Club                      325
Composure                 287
Balance                    39
Curve                      39
dtype: int64

In [13]:
df_22.isnull().sum().sort_values(ascending=False)[:10]

Marking                 15818
Loaned From             15578
Release Clause           1749
Joined                   1512
DefensiveAwareness        892
Contract Valid Until      351
Club                      264
Composure                 251
Balance                    37
Curve                      37
dtype: int64

In [14]:
df_23.isnull().sum().sort_values(ascending=False)[:10]

Best Overall Rating     17639
Loaned From             16966
Release Clause           1151
Joined                   1098
Contract Valid Until      361
Club                      211
Real Face                  38
Body Type                  38
Kit Number                 35
Position                   35
dtype: int64

In [17]:
def compare_cols(df1,df2):
    print("Length of first: ",len(df1.columns))
    print("Length for second: ",len(df2.columns))
    count=0
    for col in df1.columns:
        if col in df2.columns:
            count+=1
    print("Number of common:",count)

    if count != 0 :
            if(len(df1.columns)>=len(df2.columns)):
                for col in df_17.columns:
                    if col not in df_18.columns:
                        print(col)
            else:
                for col in df2:
                    if col not in df1:
                        print(col)

In [18]:
compare_cols(df_17,df_18)

Length of first:  63
Length for second:  64
Number of common: 63
Release Clause

In [19]:
compare_cols(df_18,df_19)

Length of first:  64
Length for second:  64
Number of common: 64

In [20]:
compare_cols(df_19,df_20)

Length of first:  64
Length for second:  65
Number of common: 64
DefensiveAwareness

In [21]:
compare_cols(df_20,df_21)

Length of first:  65
Length for second:  65
Number of common: 65

In [22]:
compare_cols(df_21,df_22)

Length of first:  65
Length for second:  65
Number of common: 65

In [ ]:
compare_cols(df_22,df_23)

# Bruh

Length of first:  65
Length for second:  29
Number of common: 28

In [24]:
cols = []

for col in df_22.columns:
    if col not in df_23.columns:
        cols.append(col)
print(cols)

['Jersey Number', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'Best Position', 'DefensiveAwareness']

In [25]:
cols = []

for col in df_22.columns:
    if col in df_23.columns:
        cols.append(col)
print(cols)

['ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special', 'Preferred Foot', 'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position', 'Joined', 'Loaned From', 'Contract Valid Until', 'Height', 'Weight', 'Best Overall Rating', 'Release Clause']

So 17-22 can be merged for year on year analysis but 23 is in a completely different format

In [ ]:
df_22.columns

# why so many columns 🙏😭

Index(['ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Best Overall Rating', 'Release Clause',
       'DefensiveAwareness'],
      dtype='object')

Had 2 options for yearly analysis:

a - create functions and run them on each dataset

b - create a mega dataset with all combined and use group by operations

b seems better to avoid looping through each dataset for each function

In [ ]:
#Adding a year clumn so once we combine all datasets we can still perform year wise analysis

df_17["year"]=2017
df_18["year"]=2018
df_19["year"]=2019
df_20["year"]=2020
df_21["year"]=2021
df_22["year"]=2022
df_23["year"]=2023

In [28]:
#  Merging the datasets 

dfs = [df_17,df_18,df_19,df_20,df_21,df_22,df_23]
df = pd.concat(dfs,axis=0)

In [29]:
df.shape

(122012, 67)

In [30]:
df.columns

Index(['ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Best Overall Rating', 'year', 'Release Clause',
       'DefensiveAwareness', 'Kit Number'],
      dtype='object')

Year wise analysis

In [31]:
df.reset_index(inplace=True)

In [32]:
df.groupby("year")["Age"].idxmin()

year
2017     13211
2018     29298
2019     50559
2020     56156
2021     77284
2022     94591
2023    121988
Name: Age, dtype: int64

In [33]:
df.loc[11738]["Age"]

25

In [34]:
# Youngest Player in each year

df.loc[df.groupby("year")["Age"].idxmin()][["Name","Age","year"]]

                 Name  Age  year
13211       E. Håland   15  2017
29298      C. Bassett   15  2018
50559     S. Anderson   15  2019
56156       A. Hložek   16  2020
77284      A. Karabec   16  2021
94591            Gavi   16  2022
121988  22 D. Oncescu   15  2023

In [35]:
# Oldest Player in each year

df.loc[df.groupby("year")["Age"].idxmax()][["Name","Age","year"]]

                  Name  Age  year
17482    B. Richardson   46  2017
33375         O. Pérez   44  2018
51254         O. Pérez   45  2019
70391         S. Royce   47  2020
85446         K. Miura   53  2021
102377        K. Miura   54  2022
119624     22 K. Miura   54  2023

In [36]:
# Best performers v=over the years

df.groupby("year")[["Name", "Overall"]].apply(lambda x: x.sort_values(by="Overall",ascending=False)[:3])

                           Name  Overall
year
2017 9        Cristiano Ronaldo       94
     58                L. Messi       93
     0                L. Suárez       92
2018 17571    Cristiano Ronaldo       94
     17615             L. Messi       94
     17715               Neymar       92
2019 35505    Cristiano Ronaldo       94
     35509             L. Messi       94
     35575            Neymar Jr       92
2020 53441             L. Messi       94
     53451    Cristiano Ronaldo       93
     53492            Neymar Jr       92
2021 70552             L. Messi       93
     70556    Cristiano Ronaldo       92
     70604            Neymar Jr       91
2022 87671             L. Messi       93
     87675       R. Lewandowski       92
     101886            J. Oblak       91
2023 104393      R. Lewandowski       91
     104476          K. Benzema       91
     104355        K. De Bruyne       91

In [37]:
# Players with highest potential

df.groupby("year")[["Name", "Potential"]].apply(lambda x: x.sort_values(by="Potential",ascending=False)[:3])

                           Name  Potential
year
2017 9        Cristiano Ronaldo         94
     4                 P. Pogba         94
     168                 Neymar         94
2018 17615             L. Messi         94
     17795            K. Mbappé         94
     17762            P. Dybala         94
2019 35619            K. Mbappé         95
     35509             L. Messi         94
     35505    Cristiano Ronaldo         94
2020 53566            K. Mbappé         95
     54530            J. Sancho         94
     53441             L. Messi         94
2021 70656            K. Mbappé         95
     70552             L. Messi         93
     71550            J. Sancho         93
2022 87724            K. Mbappé         95
     87893           E. Haaland         93
     102250       G. Donnarumma         93
2023 104427           K. Mbappé         95
     104532          E. Haaland         94
     104566               Pedri         93

In [38]:
# Best Crossing over the years

df.groupby("year")[["Name", "Crossing"]].apply(lambda x: x.sort_values(by="Crossing",ascending=False)[:3])

                             Name  Crossing
year
2017 4595                A. Pirlo      91.0
     81              K. De Bruyne      90.0
     231               S. Larsson      90.0
2018 17567           K. De Bruyne      92.0
     17825        M. Plattenhardt      90.0
     18303                 P. Max      90.0
2019 35491           K. De Bruyne      93.0
     35510             J. Kimmich      91.0
     36513               Quaresma      91.0
2020 53433           K. De Bruyne      94.0
     53476    T. Alexander-Arnold      93.0
     53445             J. Kimmich      91.0
2021 70535           K. De Bruyne      94.0
     70559    T. Alexander-Arnold      93.0
     71819             Pedro León      92.0
2022 87645           K. De Bruyne      94.0
     87666    T. Alexander-Arnold      92.0
     89297             Pedro León      91.0
2023 104352           L. Goretzka       NaN
     104353       Bruno Fernandes       NaN
     104354              M. Acuña       NaN

In [39]:
# Best Dribbling over the years

df.groupby("year")[["Name", "Dribbling"]].apply(lambda x: x.sort_values(by="Dribbling",ascending=False)[:3])

                        Name  Dribbling
year
2017 58             L. Messi       97.0
     168              Neymar       96.0
     199           E. Hazard       93.0
2018 17615          L. Messi       97.0
     17715            Neymar       96.0
     17684         E. Hazard       94.0
2019 35509          L. Messi       97.0
     35575         Neymar Jr       96.0
     35592         E. Hazard       95.0
2020 53441          L. Messi       97.0
     53492         Neymar Jr       96.0
     53550         E. Hazard       95.0
2021 70552          L. Messi       96.0
     70604         Neymar Jr       95.0
     71129     19 Y. Brahimi       93.0
2022 87671          L. Messi       96.0
     87706         Neymar Jr       95.0
     87724         K. Mbappé       93.0
2023 104352      L. Goretzka        NaN
     104353  Bruno Fernandes        NaN
     104354         M. Acuña        NaN

In [40]:
# Best Finishing over the years

df.groupby("year")[["Name", "Finishing"]].apply(lambda x: x.sort_values(by="Finishing",ascending=False)[:3])

                           Name  Finishing
year
2017 58                L. Messi       95.0
     0                L. Suárez       94.0
     9        Cristiano Ronaldo       93.0
2018 17615             L. Messi       95.0
     17560            L. Suárez       94.0
     17571    Cristiano Ronaldo       94.0
2019 35509             L. Messi       95.0
     35505    Cristiano Ronaldo       94.0
     35540              H. Kane       94.0
2020 53441             L. Messi       95.0
     53451    Cristiano Ronaldo       94.0
     53501              H. Kane       94.0
2021 70552             L. Messi       95.0
     70556    Cristiano Ronaldo       95.0
     70612              H. Kane       94.0
2022 87675       R. Lewandowski       95.0
     87678    Cristiano Ronaldo       95.0
     87671             L. Messi       95.0
2023 104352         L. Goretzka        NaN
     104353     Bruno Fernandes        NaN
     104354            M. Acuña        NaN

In [41]:
# Best Ball Control over the years

df.groupby("year")[["Name", "BallControl"]].apply(lambda x: x.sort_values(by="BallControl",ascending=False)[:3])

                        Name  BallControl
year
2017 168              Neymar         95.0
     58             L. Messi         95.0
     211             Iniesta         93.0
2018 17615          L. Messi         96.0
     17715            Neymar         95.0
     17886           Iniesta         94.0
2019 35509          L. Messi         96.0
     35575         Neymar Jr         95.0
     35622              Isco         95.0
2020 53441          L. Messi         96.0
     53492         Neymar Jr         95.0
     53550         E. Hazard         94.0
2021 70552          L. Messi         96.0
     70604         Neymar Jr         95.0
     70643         P. Dybala         94.0
2022 87671          L. Messi         96.0
     87706         Neymar Jr         95.0
     87886           15 Xavi         93.0
2023 104352      L. Goretzka          NaN
     104353  Bruno Fernandes          NaN
     104354         M. Acuña          NaN

In [42]:
# Highest FreeKick Accuracy over the years
df.groupby("year")[["Name", "FKAccuracy"]].apply(lambda x: x.sort_values(by="FKAccuracy",ascending=False)[:3])

                        Name  FKAccuracy
year
2017 4595           A. Pirlo        93.0
     35            M. Pjanić        91.0
     224            D. Payet        91.0
2018 17815     H. Çalhanoğlu        93.0
     18665       S. Giovinco        93.0
     17615          L. Messi        92.0
2019 35509          L. Messi        94.0
     36706       S. Giovinco        93.0
     35524         M. Pjanić        92.0
2020 53441          L. Messi        94.0
     59133       18 A. Pirlo        93.0
     54844       S. Giovinco        92.0
2021 70552          L. Messi        94.0
     70618            Parejo        93.0
     76636       18 A. Pirlo        93.0
2022 87671          L. Messi        94.0
     94382       18 A. Pirlo        93.0
     87781    J. Ward-Prowse        92.0
2023 104352      L. Goretzka         NaN
     104353  Bruno Fernandes         NaN
     104354         M. Acuña         NaN

In [43]:
# Highest FreeKick Accuracy over the years
df.groupby("year")[["Name", "Penalties"]].apply(lambda x: x.sort_values(by="Penalties",ascending=False)[:3])

                        Name  Penalties
year
2017 3305         R. Lambert       96.0
     2591       M. Balotelli       92.0
     118      Z. Ibrahimović       91.0
2018 19132      M. Balotelli       92.0
     17670           Fabinho       91.0
     17593         L. Baines       90.0
2019 35803          M. Kruse       92.0
     37398      M. Balotelli       92.0
     37224         S. Haller       91.0
2020 59120      16 C. Blanco       94.0
     53854          M. Kruse       92.0
     53492         Neymar Jr       92.0
2021 81045      09 J. Maatje       94.0
     76642      16 C. Blanco       94.0
     70604         Neymar Jr       92.0
2022 91800     17 R. Lambert       96.0
     94359      16 C. Blanco       94.0
     87706         Neymar Jr       93.0
2023 104352      L. Goretzka        NaN
     104353  Bruno Fernandes        NaN
     104354         M. Acuña        NaN

In [44]:
# Best Interception over the years
df.groupby("year")[["Name", "Interceptions"]].apply(lambda x: x.sort_values(by="Interceptions",ascending=False)[:3])

                         Name  Interceptions
year
2017 4014         A. Barzagli           92.0
     72          Thiago Silva           91.0
     68              N. Kanté           91.0
2018 17860         M. Hummels           92.0
     17613           N. Kanté           91.0
     18317         L. Bonucci           90.0
2019 35529           N. Kanté           92.0
     36094         M. Hummels           92.0
     36443         L. Bonucci           90.0
2020 66096      09 P. Maldini           95.0
     65897    10 F. Cannavaro           93.0
     53547         17 P. Lahm           93.0
2021 83579      09 P. Maldini           95.0
     81153      08 C. Ramelow           94.0
     83411    10 F. Cannavaro           93.0
2022 101165     09 P. Maldini           95.0
     100993   10 F. Cannavaro           93.0
     87767         17 P. Lahm           93.0
2023 104352       L. Goretzka            NaN
     104353   Bruno Fernandes            NaN
     104354          M. Acuña            NaN

In [ ]:
# Standing Tackle

df.groupby("year")[["Name", "StandingTackle"]].apply(lambda x: x.sort_values(by="StandingTackle",ascending=False)[:3])

                         Name  StandingTackle
year
2017 600           J. Boateng            92.0
     437           M. Hummels            92.0
     2745        G. Chiellini            92.0
2018 20055       G. Chiellini            92.0
     17860         M. Hummels            92.0
     17625       Sergio Ramos            90.0
2019 38375       G. Chiellini            93.0
     35855    T. Alderweireld            91.0
     35529           N. Kanté            91.0
2020 53631        V. van Dijk            93.0
     53494           N. Kanté            91.0
     56830       G. Chiellini            90.0
2021 70738        V. van Dijk            93.0
     81153      08 C. Ramelow            91.0
     70620           N. Kanté            90.0
2022 87713           N. Kanté            93.0
     87883        V. van Dijk            92.0
     87860           W. Ndidi            90.0
2023 104352       L. Goretzka             NaN
     104353   Bruno Fernandes             NaN
     104354          M. Acuña             NaN

In [80]:
# Sliding Tackle
df.groupby("year")[["Name", "SlidingTackle"]].apply(lambda x: x.sort_values(by="SlidingTackle",ascending=False)[:3])

                        Name  SlidingTackle
year
2017 600          J. Boateng           91.0
     71         Sergio Ramos           90.0
     2745       G. Chiellini           90.0
2018 17625      Sergio Ramos           91.0
     20055      G. Chiellini           90.0
     17860        M. Hummels           90.0
2019 38375      G. Chiellini           90.0
     35504      Sergio Ramos           90.0
     35492     R. Nainggolan           90.0
2020 53547        17 P. Lahm           95.0
     54387    A. Wan-Bissaka           90.0
     53450      Sergio Ramos           90.0
2021 70658        17 P. Lahm           95.0
     71334    A. Wan-Bissaka           90.0
     70541     R. Nainggolan           90.0
2022 87767        17 P. Lahm           95.0
     88510    A. Wan-Bissaka           92.0
     87654      Sergio Ramos           91.0
2023 104352      L. Goretzka            NaN
     104353  Bruno Fernandes            NaN
     104354         M. Acuña            NaN

In [48]:
# Making one metric for goal keepers rather than having 5 separate

df["GKOverall"] = (df["GKDiving"] + df["GKHandling"] + df["GKKicking"] + df["GKPositioning"] + df["GKReflexes"])/5

In [ ]:
# Best Goalkeepers 

df.groupby("year")[["Name", "GKOverall"]].apply(lambda x: x.sort_values(by="GKOverall",ascending=False)[:3])

                        Name  GKOverall
year
2017 12372          M. Neuer       90.8
     13739            De Gea       87.2
     15601           P. Čech       83.8
2018 30272          M. Neuer       91.2
     30712            De Gea       88.6
     33157     M. ter Stegen       86.0
2019 50629     M. ter Stegen       87.6
     48859          M. Neuer       87.2
     49081            De Gea       87.2
2020 66690     M. ter Stegen       87.8
     67550           Alisson       87.8
     65181          M. Neuer       87.6
2021 82680          M. Neuer       88.0
     84145     M. ter Stegen       87.8
     84924           Alisson       87.8
2022 99992          M. Neuer       88.8
     101532    M. ter Stegen       87.8
     98834           Ederson       87.6
2023 104352      L. Goretzka        NaN
     104353  Bruno Fernandes        NaN
     104354         M. Acuña        NaN

Overall Analysis (2017-2023)

In [50]:
df.head()

,index,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,year,Release Clause,DefensiveAwareness,Kit Number,GKOverall
0,0,176580,L. Suárez,29,https://cdn.sofifa.com/players/176/580/17_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,92,92,FC Barcelona,...,31.0,33.0,37.0,ST,88.0,2017,NaN,NaN,NaN,30.6
1,1,178518,R. Nainggolan,28,https://cdn.sofifa.com/players/178/518/17_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,86,86,Roma,...,14.0,8.0,11.0,CDM,84.0,2017,NaN,NaN,NaN,11.0
2,2,181872,A. Vidal,29,https://cdn.sofifa.com/players/181/872/17_60.png,Chile,https://cdn.sofifa.com/flags/cl.png,87,87,FC Bayern München,...,4.0,2.0,4.0,CDM,85.0,2017,NaN,NaN,NaN,3.2
3,3,197445,D. Alaba,24,https://cdn.sofifa.com/players/197/445/17_60.png,Austria,https://cdn.sofifa.com/flags/at.png,86,89,FC Bayern München,...,14.0,15.0,9.0,LB,84.0,2017,NaN,NaN,NaN,10.0
4,4,195864,P. Pogba,23,https://cdn.sofifa.com/players/195/864/17_60.png,France,https://cdn.sofifa.com/flags/fr.png,88,94,Manchester United,...,2.0,4.0,3.0,CAM,85.0,2017,NaN,NaN,NaN,4.0

In [ ]:
# Highest Overall Rating

df.groupby("Name")["Overall"].mean().sort_values(ascending=False)[:10]

Name
 L. Messi             93.600000
 Cristiano Ronaldo    93.400000
 Neymar               92.000000
L. Messi              92.000000
 Neymar Jr            91.666667
R. Lewandowski        91.500000
K. Mbappé             91.000000
K. De Bruyne          91.000000
 R. Lewandowski       90.600000
Cristiano Ronaldo     90.500000
Name: Overall, dtype: float64

In [52]:
df["Name"] = df["Name"].str.strip()

In [53]:
# Highest Overall Rating

df.groupby("Name")["Overall"].mean().sort_values(ascending=False)[:10]

Name
L. Messi             93.142857
Cristiano Ronaldo    92.571429
Neymar               92.000000
Neymar Jr            91.000000
R. Lewandowski       90.857143
K. De Bruyne         90.571429
M. Neuer             90.000000
J. Oblak             89.857143
T. Courtois          88.857143
S. Agüero            88.833333
Name: Overall, dtype: float64

In [54]:
df["Name"] = df["Name"].str.replace("Neymar Jr","Neymar")

In [55]:
# Highest Overall Rating

df.groupby("Name")["Overall"].mean().sort_values(ascending=False)[:10]

Name
L. Messi             93.142857
Cristiano Ronaldo    92.571429
Neymar               91.285714
R. Lewandowski       90.857143
K. De Bruyne         90.571429
M. Neuer             90.000000
J. Oblak             89.857143
T. Courtois          88.857143
S. Agüero            88.833333
L. Modrić            88.571429
Name: Overall, dtype: float64

In [56]:
# Highest Potenital Rating

df.groupby("Name")["Potential"].mean().sort_values(ascending=False)[:10]

Name
K. Mbappé            94.428571
L. Messi             93.142857
Cristiano Ronaldo    92.571429
G. Donnarumma        92.571429
J. Oblak             92.428571
E. Haaland           92.250000
09 L. Hoedemaker     92.000000
Vinícius Júnior      92.000000
Vinícius Jr.         91.750000
Neymar               91.714286
Name: Potential, dtype: float64

In [57]:
df["Name"] = df["Name"].str.replace("Vinícius Júnior","Vinícius Jr.")

In [58]:
# Highest Potenital Rating

df.groupby("Name")["Potential"].mean().sort_values(ascending=False)[:10]

Name
K. Mbappé            94.428571
L. Messi             93.142857
G. Donnarumma        92.571429
Cristiano Ronaldo    92.571429
J. Oblak             92.428571
E. Haaland           92.250000
09 L. Hoedemaker     92.000000
Vinícius Jr.         91.800000
Neymar               91.714286
João Félix           91.200000
Name: Potential, dtype: float64

In [59]:
# Highest Potenital Rating

df.groupby("Name")["GKOverall"].mean().sort_values(ascending=False)[:10]

Name
M. Neuer             88.933333
M. ter Stegen        86.733333
J. Oblak             86.400000
De Gea               85.466667
Ederson              85.300000
Alisson              84.733333
11 E. van der Sar    84.400000
21 A. Onana          84.000000
T. Courtois          83.833333
S. Handanovič        83.533333
Name: GKOverall, dtype: float64

In [60]:
# Country wise average of rating of players between 2017 and 2023

df.groupby("Nationality")["Overall"].mean().sort_values(ascending=False)[:10]

# Not very useful since could either be skewed low number of players and few good ones leading to a higher avergae

Nationality
Mozambique             71.703704
Brazil                 71.325113
Algeria                70.662304
Syria                  70.392857
Portugal               70.353355
São Tomé & Príncipe    70.333333
Czech Republic         70.315372
Egypt                  70.195021
São Tomé e Príncipe    70.000000
Libya                  70.000000
Name: Overall, dtype: float64

In [61]:
df.groupby("Nationality")["Overall"].mean().sort_values()[:10]

# Not very useful since could either be skewed low number of players and few good ones leading to a higher avergae

Nationality
South Sudan          54.750000
Indonesia            54.750000
San Marino           55.333333
India                55.410256
Singapore            55.500000
Brunei Darussalam    56.333333
Yemen                58.000000
China PR             58.419932
Hong Kong            59.230769
Guyana               59.488889
Name: Overall, dtype: float64

In [62]:
df.groupby("Club")["Overall"].mean().sort_values(ascending=False)[:10]

# Again skewed a little by low sample clubs

Club
111648               85.000000
Messina              80.000000
Juventus             79.609302
Siena                79.000000
FC Bayern München    78.269231
AFC Richmond         78.066667
Real Madrid          78.058824
FC Barcelona         77.864000
Napoli               77.844920
Inter                77.331858
Name: Overall, dtype: float64

In [63]:
df.groupby("Club")["Overall"].mean().sort_values()[:10]

# Not very useful since could either be skewed low number of players and few good ones leading to a higher avergae

Club
Arezzo                           28.000000
Al Nahdha Dammam                 49.000000
Dagenham and Redbridge           51.000000
Wexford Youths                   51.826087
Longford Town                    52.228571
Chengdu Rongcheng F.C.           52.250000
Chongqing Liangjiang Athletic    52.393939
Galway United                    52.660714
UCD AFC                          52.789474
Torquay United                   53.000000
Name: Overall, dtype: float64

Club wise

In [ ]:
# Enter a club and see its best performers

def club_perf(club):
    return (
        df[df["Club"] == club][["Name","Overall"]]
        .sort_values(by="Overall", ascending=False)
        .drop_duplicates(subset="Name", keep="first")[["Name", "Overall"]][:10]
    )

club_perf("FC Barcelona")

                   Name  Overall
35509          L. Messi       94
0             L. Suárez       92
168              Neymar       92
104393   R. Lewandowski       91
66690     M. ter Stegen       90
53431      A. Griezmann       89
35814   Sergio Busquets       89
36246             Piqué       88
211             Iniesta       88
35594         S. Umtiti       87

Nation Wise

In [79]:
# Nation wise best preformers

def nation_perf(nation):
    return (
        df[df["Nationality"] == nation][["Name","Overall"]]
        .sort_values(by="Overall", ascending=False)
        .drop_duplicates(subset="Name", keep="first")[["Name", "Overall"]][:10]
    )

nation_perf("France")

                Name  Overall
104476    K. Benzema       91
104427     K. Mbappé       91
87713       N. Kanté       90
35488   A. Griezmann       89
17564       P. Pogba       88
15317      H. Lloris       88
114619    M. Maignan       87
71576     A. Laporte       87
35594      S. Umtiti       87
55188      R. Varane       86